<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a="http://ajax.org/2005/aml">
<head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Chat - Denver Architect</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>
<iframe src="http://wheredat.azurewebsites.net/?address=Denver, CO" id="wheredat"></iframe>
<h2>Where are you hiding?</h2>
<div id="chat_output_container"></div>
<div id="chat_input_container">
    <input id="chat_input" disabled value="C'mon, give us a little clue like 'I'm hiding near Denver, CO'"/>
</div>
</body>
</html>